html, body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* //background-color dark-color-picker: #1F2937;// */

main {
   height: 70vh;
   width: 700px;
   background-color: #1F2937;
   padding: 1em 1.3em;
}